/* Reset */
body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0.5em 0;
}

/* Layout */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

/* ELEMENTS */

/* Container */
.container {
  padding: 0 0.5em;
}

/* Hero */
.hero {
  background: #666;
  color: white;
  height: 30vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-big {
  height: 50vh;
}

/* SECTIONS */

/* Header */
header {
  background: #333;
  color: white;
  padding: 0.5em 0;
}
header a {
  color: white;
  padding: 0 10px;
}
nav {
  display: flex;
}
.header-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/* Footer */
footer {
  background: #333;
  color: white;
  padding: 0.5em;
  text-align: center;
}
