<header>
  {% Container "800px" %}
    <nav>
      <div class="header-brand">Gordon Doskas</div>
      <div class="header-nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
      </div>
    </nav>
  {% endContainer %}
</header>
