---
layout: layouts/default.njk
---
<style>
  .hero {
    background-image: url('img/space-mountain.jpg');
    background-size: cover;
    background-position: center;
  }
</style>
<div class="hero hero-big">
  <h1>Home</h1>
</div>
{% Container "800px" %}
  <p>Home content</p>
{% endContainer %}
